---
layout: base
tags: nav
navtitle: Home
navorder: 1
permalink: index.html
---

<div class="hero fade-in">
    <div class="hero__inner">
        <h1 class="hero__title">I build startups</h1>
        <p class="hero__pretitle"><a href="/about/">Hey, I'm Omar Kassim</a></p>

        <div class="hero__content">
            <p>I work at <a href="https://nomod.com" class="hero__link hero__link--simpleloop">Nomod</a>, where we're building a busiesss banking platform. I analyse and write bits about startups on <a href="https://blog.omarkassim.com" class="hero__link" target="_blank">my blog</a>, while it's easiest to reach me on Twitter <a href="{{ author.social.twitter.url }}" class="hero__link hero__link--twitter">@okassim</a>.</p>
        </div>
    </div>
</div>
