---
layout: base
tags: nav
navtitle: Home
navorder: 1
permalink: index.html
---

<div class="hero fade-in">
    <div class="hero__inner">
        <h1 class="hero__title">I do Internet things.</h1>
        <p class="hero__pretitle"><a href="/about/">Hey, I'm Omar Kassim</a></p>

        <div class="hero__content">
            <p>I’m the Founder & CEO of <a href="https://nomod.com" class="hero__link hero__link--simpleloop">Nomod</a>, a new digital challenger bank for MENA and South Asia. I analyse and write bits about regional startups at <a href="https://varhunt.com" class="hero__link">Varhunt</a> and it's easiest to reach me <a href="{{ author.social.twitter.url }}" class="hero__link hero__link--twitter">@okassim</a>.</p>
        </div>
    </div>
</div>
